:root {
    --bg_color: #353535;
    --bg_message: rgba(10,10,10,0.5);
    --border_neon: #00EBEC;
    --white: #fff;
}
body > div#wrapper > div#backgroundData:not(.visible) {
    display: none;
}

body > div#wrapper > div#backgroundData {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index:1;
    backdrop-filter: blur(5px) ;
    -webkit-backdrop-filter: blur(5px);
}

body > div#wrapper > div#backgroundData > div#data {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height:500px;
    background-color: rgba(0, 0, 0, 0.5); /*A revoir ensemble*/
    border-left: 2px solid var(--border_neon);
    border-right: 2px solid var(--border_neon);
}

body > div#wrapper > div#backgroundData > div#data > header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    margin-top: 1.5%;

    width: 100%;
    color: white;
    font-family: 'zekton';
}
body > div#wrapper > div#backgroundData > div#data > header > div {
    text-align: center;
    grid-column-start:  2;
    justify-self: center;

}
body > div#wrapper > div#backgroundData > div#data > header > div > p:nth-child(1) {
    font-size : 2.5vw;
}
body > div#wrapper > div#backgroundData > div#data > header > div > p:nth-child(2) {
    font-size : 1.5vw;
}
body > div#wrapper > div#backgroundData > div#data > header > img {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
    align-self: start;
    width: 1.5vw;
    margin-right: 4%;
    cursor: pointer;
}