

/* Valeurs générals de la page */
:root {
    --transparent:rgba(255,255,255,0);
    --white : white;
    --neon_blue: #00EBEC;
}

@font-face {
    font-family: 'zekton';
    src: url('/assets/Fonts/zekton-webfont.woff') format('woff2'),
    url('/assets/Fonts/zekton-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    overflow:hidden;
}


/* Div qui servira à placer tous les éléments de fonds */
body,
body > div#wrapper{
    /*placement*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*apparence*/
    width: 100vw;
    max-width: 100%;
    height : 100vh;
    box-sizing: content-box;
    overflow:hidden;
    
}

/* Background de la page + l'élément de haut et l'élément de haut*/
/* background */
body > div#wrapper > img#fond {
    /*apparence*/


    /* Intéréssant si création du cadrillage nous même : https://projects.verou.me/css3patterns/#blueprint-grid*/
    width : 100vw;
    max-width: 100%;
    height : 100vh;
    position: relative;

}

/*élément du haut*/
body > div#wrapper > img#haut {
    /*position*/
    position: absolute;
    top: 0;
    /*apparence*/
    width:100vw;
    min-height: 90px; /*à revoir !!!!!!*/
}

/*élément de gauche  */
body > div#wrapper > img#gauche {
    /*position*/
    position: absolute;
    bottom: 0px;
    left: 0;
    /*apparence*/
    height:80vh;
}

rect {
    /*apparence*/
    fill: var(--neon_blue);
}


div.radar svg {
    /*apparence*/
    width: max(37vw,350px);
    height: max(37vw,350px);
}

.radar {
    /*Placement*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    

    /*apparence*/
    width: max(37vw,255px);
    height: max(37vw,255px);
}

/* La chronologie (les dates 10ans) */
.radar ul#date {
    position: absolute;
    text-align: center;
    color: var(--white);
    font-family: 'zekton';
    font-size: max(1vw,7px);
}

.radar ul#date li:nth-child(1) {
    position: absolute;
    color: var(--neon_blue);
    bottom: max(12vw,80px);
}
.radar ul#date li:nth-child(2) {
    position: absolute;
    top: max(4vw,30px);
}
.radar ul#date li:nth-child(3) {
    position: absolute;
    top: max(8vw,60px);
}
.radar ul#date li:nth-child(4) {
    position: absolute;
    top: max(13vw,90px);
}
.radar ul#date li:nth-child(5) {
    /* position: absolute; JE COMPRENDS PAS PQ LA POSITION FAIT BUGGER TOUT*/
    top: max(16vw,110px);
}

/* Tout les noms des héros */
.radar div.name {
    position: absolute;
}
.radar h2 {
    position: absolute;

    font-family: 'zekton';
    font-size: max(1.5vw,13px);
    color: var(--white);
    /* width: 100px;
    height: 100px;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(0,254,255,0.7) 0%, rgba(106, 128, 128, 0.401) 61%, rgba(0,254,255,0.13238798937543772) 75%); */
}
/* Black Widow */
.radar h2:nth-child(1) {
    bottom: max(18vw,130px);
    left: max(6vw,40px);
}

/* Thor */
.radar h2:nth-child(2) {
    bottom: max(12vw,70px);
    left: max(17vw,120px);
}

/* Black Panther */
.radar h2:nth-child(3) {
    left: max(20vw,140px);
    bottom: -1.5vw;
}

/* Hulk */
.radar h2:nth-child(4) {
    top: max(12vw,70px);
    left: max(17vw,120px);
}

/* Captain Marvel */
.radar h2:nth-child(5) {
    top: max(18vw,130px);
    left: max(6vw,40px);
}

/* Ant Man */
.radar h2:nth-child(6) {
    top: max(18vw,130px);
    right: max(6vw,40px);
}

/* Docter Strange */
.radar h2:nth-child(7) {
    top: max(12vw,70px);
    right: max(17vw,120px);
}

/* Captain America */
.radar h2:nth-child(8) {
    right: max(20vw,140px);
    bottom: -1.5vw;
}

/* Iron Man */
.name h2:nth-child(9) {
    bottom: max(12vw,70px);
    right: max(17vw,120px);
}

/* Spiderman */
.radar h2:nth-child(10) {
    bottom: max(18vw,130px);
    right: max(6vw,40px);
}


a#Poweroff > img {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 2vw;
    text-align: center;
}

@media screen and (max-width: 500px) {
    body > div#wrapper > img#gauche {
        display: none;
    }
}