
/* Valeurs générals de la page */
:root {
    --transparent:rgba(255,255,255,0);
    --white : white;
    --neon_blue: #00EBEC;
}

@font-face {
    font-family: 'zekton';
    src: url('/assets/Fonts/zekton-webfont.woff') format('woff2'),
    url('/assets/Fonts/zekton-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    overflow:hidden;
}


/* Div qui servira à placer tous les éléments de fonds */
body,
body > div#wrapper{
    /*placement*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*apparence*/
    width: 100vw;
    max-width: 100%;
    height : 100vh;
    box-sizing: content-box;
    overflow:hidden;
    
}

/* Background de la page + l'élément de haut et l'élément de haut*/
/* background */
body > div#wrapper > img#fond {
    /*apparence*/
    /* Intéréssant si création du cadrillage nous même : https://projects.verou.me/css3patterns/#blueprint-grid*/
    width : 100vw;
    max-width: 100%;
    height : 100vh;
    position: relative;

}

/*élément du haut*/
body > div#wrapper > img#haut {
    /*position*/
    position: absolute;
    top: 0;
    /*apparence*/
    width:100vw;
    min-height: 90px; /*à revoir !!!!!!*/
}

/*élément de gauche  */
body > div#wrapper > img#gauche {
    /*position*/
    position: absolute;
    bottom: 0px;
    left: 0;
    /*apparence*/
    height:80vh;
}

/* l'élément de fond rond avec les lignes (effet fond de radar)*/
body > div#wrapper > ul#time {
    position: absolute;
    margin-top: 75px;
    width: max(37vw,255px);
    height: max(37vw,255px);
    border-radius: 50%;
    background:
    repeating-radial-gradient(100% 100%, var(--transparent),var(--transparent) max(3.45vw,22px),var(--white) max(3.5vw,23px), var(--white) max(3.5vw,23px),var(--transparent) max(3.5vw,23px),var(--white) max(3.5vw,23px)),
    radial-gradient(var(--transparent),var(--transparent)max(7.60vw,50px), var(--neon_blue) max(7.62vw,51px), var(--transparent)max(7.70vw,52px)),
    linear-gradient(to right bottom, var(--transparent),var(--transparent)105px, var(--white) 106px, var(--transparent)107px)
}

rect {
    fill: var(--neon_blue);
}

/*radar*/
/* svg{
    position: absolute;
    top: 15%;
    max-width: 100%;
} */

.radar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15%;
    max-width: 100%;
}

.radar h2 {
    font-family: 'zekton';
    font-size: 1.5em;
    position: absolute;
    color: var(--white);
    z-index: 2;
}

/* Tout les noms des héros */

/* Black Widow */
.radar h2:nth-child(1) {
    top: 0em;
    right: 2em;
}

/* Thor */
.radar h2:nth-child(2) {
    top: 4em;
    right: -0.5em;
}

/* Black Panther */
.radar h2:nth-child(3) {
    top: 12.5em;
    right: -7.5em;
}

/* Hulk */
.radar h2:nth-child(4) {
    bottom: 4em;
    right: -1em;
}

/* Captain Marvel */
.radar h2:nth-child(5) {
    bottom: 0em;
    right: 1em;
}

/* Ant Man */
.radar h2:nth-child(6) {
    bottom: 0em;
    left: 3.5em;
}

/* Docter Strange */
.radar h2:nth-child(7) {
    bottom: 4em;
    left: -5em;
}

/* Captain America */
.radar h2:nth-child(8) {
    top: 12.5em;
    left: -8.5em;
}

/* Iron Man */
.name h2:nth-child(9) {
    top: 4em;
    left: -3em;
}

/* Spiderman */
.radar h2:nth-child(10) {
    top: 0em;
    left: 2.5em;
}

#Poweroff {
    position: absolute;
    top: 10px;
    right: 13px;
}

@media screen and (max-width: 500px) {
    body > div#wrapper > img#gauche {
        display: none;
    }
}